<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bintu.cinefreak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".WatchlistActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".WishlistActivity" />
        <activity android:name=".DisplayMovieInfoActivity" />
        <activity android:name=".DisplayWatchlistActivity" />
        <activity android:name=".WishlistWatchlistActivity"></activity>
    </application>

</manifest>